<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Oliot EPCCR 1.0</display-name>

	<!-- Web Service Initialization , Configuration, Termination -->
	<listener>
		<listener-class>
			org.oliot.epccr.configuration.Configuration
		</listener-class>
	</listener>
	
	<!-- Spring Framework MVC -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <init-param> <param-name>contextConfigLocation</param-name> <param-value> 
			/WEB-INF/beans.xml /WEB-INF/main.xml </param-value> </init-param> -->
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<description></description>
		<servlet-class>org.oliot.epccr.test.Test</servlet-class>
	</servlet>

	<!-- Spring Framework MVC -->

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/Service/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	
</web-app>
